@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Source+Code+Pro:400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700);

.highlight pre {
  font-family: 'Source Code Pro';
}

div#main-content a {
  font-family: 'Source Code Pro';
}

div#main-content {
  width: 1024px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#raw-button {
  margin-bottom: 10px;
}



#toc {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  background: #343131;
  width: 300px;
  padding-top: 20px;
  color: #fff;
  font-family: 'Lato';
}

#toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toc li {
  padding: 8px 10px;
  font-size: 90%;
}

#toc a {
  text-decoration: none;
  display: block;
  color: #B3B3B3;
}

#toc li.h2 {
  padding-left: 28px;
}

#toc li.h3 {
  padding-left: 48px;
}

#toc .toc-active {
  font-weight: bold;
  background: #FCFCFC;
  border-width: 1px medium;
  border-style: solid none;
  border-color: #C9C9C9 -moz-use-text-color;
}

#toc .toc-active a {
  color: #404040;
  font-weight: bold;
}
